.Post {
    padding: 24px;
    background: #fff;
    max-width: 544px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #e4e9ef;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.PostOptions {
    background: #fff;
    position: absolute;
    right: 50px;
    top: 32px;
    animation: fadeInRight .15s ease-in;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(10px)
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.PostOptions svg {
    margin-right: 4px;
    cursor: pointer;
}

.PostOptions svg:last-child {
    margin-right: 10px; 
}

.Post header {
    display: flex;
    align-items: center;
}

.Name {
    font-size: 14px;
    color: #1d1e37;
    margin: 0;
    margin-left: 8px;
    padding: 0;
    cursor: pointer;
    font-weight: 400;
}

.Timestamp {
    margin: 0;
    padding: 0;
    color: #a7a7a7;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 300;
}

.MoreIcon {
    margin-left: auto;
    cursor: pointer;
    padding: 8px;
    z-index: 2;
}

.Post main {
    position: relative;
}

.PostText {
    color: #3e3f51;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 24px;
    margin-bottom: 40px;
}

.EditPostArea {
    color: #3e3f51;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 24px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Roboto';
    resize: none;
    outline: none;
    background: #F8F8F8;
    border: solid 1px #e4e9ef;
    border-radius: 3px;
    padding: 5px;
    padding-right: 23px;
}

.CloseEdit {
    position: absolute;
    top: 24px;
    right: 0px;
    cursor: pointer;
}

.EditPostArea::-webkit-input-placeholder {
    font-family: 'Roboto';
}

.Image {
    width: calc(100% + 48px);
    margin-right: -24px;
    margin-left: -24px;
    margin-bottom: 24px;
}

.TextWithImage {
    margin-bottom: 15px;
}

.Post footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.LikeContainer {
    margin-left: auto;
}


.LikeContainer img {
    height: 16px;
    width: 18px;
    margin-right: 8px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.CommentText {
    background: none;
    border: none;
    box-shadow: none;
    resize: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.45;
    width: 80%;
}

.CommentText::-webkit-input-placeholder {
    line-height: 1.57;
    font-size: 14px;
    font-weight: 300;
    color: #a7a7a7;
}

.LikesNum {
    color: #3e3f51;
    font-size: 14px;
    height: 16px;
}