.PeopleToFollowContainer {
    width: 368px;
    height: auto;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
}

.PeopleToFollow {
    width: 304px;
    background: #fff;
    height: auto;
    border-radius: 3px;
    border: solid 1px #e4e9ef;
    margin-right: 8px;
}

.PeopleToFollow ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 16px;
    color: #a7a7a7;
    margin-left: 24px;
    font-weight: 300;
}

.LoadMoreBtn {
    width: 303px;
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid 1px #e4e9ef;
    height: 54px;
    outline: none;
    box-shadow: none;
    border-left: none;
    cursor: pointer;
    font-size: 14px;
    color: #3e3f51;
    font-weight: 500;
}

.LoadMoreBtn:hover {
    background: #FAFAFA;
}

@media (max-width: 1300px) {
    .PeopleToFollowContainer {
        display: none;
    }
}