* {
    box-sizing: border-box;
}

.DashboardNavigationContainer {
    width: 368px;
    height: 100%;
    background: #f3f7fa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.DashboardNavigation {
    width: 304px;
    height: auto;
    border-radius: 3px;
    margin-left: 8px;
}

.Navlink {
    width: 100%;
    height: 64px;
    background: #fff;
    display: block;
    border: solid 1px #e4e9ef;
    line-height: 64px;
    font-size: 14px;
    color: #3e3f51;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.Navlink:hover {
    background: #FAFAFA;
}

.NavigationIcon {
    margin-right: 12px;
}

.selectedFeed::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 3px;
    background: #1aa8ff;
}

.selectedEvents::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 3px;
    background: #ff552c;
}

.selectedGroups::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 3px;
    background: #2ddb60;
}

.Navlink:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.Navlink:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.CreateEventBtn {
    width: 304px;
    margin-left: 8px;
    margin-top: 16px;
    border: none;
    height: 32px;
    border-radius: 3px;
    background-color: #ff552c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.CreateEventBtn:hover {
    background: #ff3c0e;
}

.CreateGroupBtn {
    width: 304px;
    margin-left: 8px;
    margin-top: 16px;
    border: none;
    height: 32px;
    border-radius: 3px;
    background-color: #25c253;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.CreateGroupBtn:hover {
    background: #21ae4a;
}

.AddIcon {
    margin-right: 2px;
}