.Login {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ImageContainer {
  width: 65%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ImageContainer img {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #fff;
}

.LoginContainer {
  width: 35%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 7%;
}

.LoginContainer h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  color: #0d283a;
  margin-top: 8px;
}

.LoginContainer h1 {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 32px;
  color: #444;
  font-family: 'Roboto';
  letter-spacing: -0.7px;
  margin-bottom: 56px;
}

.LoginContainer p {
  color: #3e3f51;
  font-size: 14px;
  margin-top: 32px;
}

.LoginContainer p a {
  color: #1aa8ff;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .LoginContainer {
      padding: 90px;
  }
}

@media (max-width: 980px) {
  .ImageContainer {
      display: none;
  }
  .LoginContainer {
      width: 100%;
      height: 100vh;
      min-height: 500px;
      align-items: center;
  }
}