.DashboardContainer {
    display: flex;
    background: #f3f7fa;
    padding-top: 40px;
    max-width: 1300px;
    margin: 0 auto;
}

.Dashboard {
    min-height: calc(100vh - 112px);
    height: auto;
    width: calc(100% - 368px - 368px);
    display: flex;
    justify-content: center;
}

.ProfileDashboard {
    width: 100%;
}

@media (max-width: 1300px) {
    .Dashboard {
        width: calc(100% - 368px);
        margin-right: 25px;
    }
    .ProfileDashboard {
        width: 100%;
        margin-right: none;
    }
}

@media (max-width: 955px) {
    .Dashboard {
        width: calc(100% - 128px);
    }
    .ProfileDashboard {
        width: 100%;
        margin-right: none;
    }
}

@media (max-width: 500px) {
    .DesktopNavigation {
        display: none;
    }
    .Dashboard {
        width: 100%;
        margin: 0;
        padding: 8px;
    }
    .DashboardContainer {
        padding-top: 16px;
    }
}