.UserSettingsAvatar {
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.IconContainer {
    cursor: pointer;
}

.Username {
    margin-right: 16px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .UserSettingsAvatar {
        justify-content: center;
        margin-top: 16px;
        height: auto;
        width: 100%;
    }
    
    .UserIcon {
        height: auto;
        width: 40%;
        padding-top: 40%;
        background: #f3f7fa;
    }
}