.PhotoUploadModal {
  position: fixed;
  left: calc(50% - 250px);
  top: 14%;
  width: 500px;
  height: 450px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  border: solid 1px #e4e9ef;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.PhotoUploadModal h1 {
  font-size: 24px;
  color: #0d283a;
  margin: 0;
  margin-top: 24px;
}

.ChooseFileContainer {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e4e9ef;
}

.BioContainer {
  padding: 24px;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e4e9ef;
}

.BioContainer textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-size: 18px;
}

.BioContainer textarea::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 18px;
}

.PhotoUploadModal footer {
  width: 100%;
  height: 70px;
  display: flex;
  padding-right: 24px;
  align-items: center;
  justify-content: flex-end;
}

.CancelBtn {
  margin-right: 16px;
  color: #1aa8ff;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.SaveBtn {
  cursor: pointer;
  width: 141px;
  height: 32px;
  border-radius: 3px;
  background-color: #1aa8ff;
  border: none;
  outline: none;
  color: #fff;
}